body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

#header-nav {
  background-color: #999;
  border-radius: 0;
  border: 2px solid #000;
}

.navbar-brand {
  height: auto;
  padding-top: 15px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand h1 {
  margin: 0;
  color: #000;
  font-size: 1.8em;
  font-weight: bold;
  line-height: .75;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

#collapsable-nav {
  padding-left: 0;
  padding-right: 0;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list a {
  color: #000;
  background: #f2f2f2;
  border-top: 1px solid #000;
  font-size: 1.2em;
}

#nav-list a:hover {
  background: #e0e0e0;
}

#main-content h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: bold;
}

.menu-section {
  background-color: #999;
  padding: 15px;
  margin-bottom: 30px;
  min-height: 700px;
}

.menu-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.menu-section p {
  margin-bottom: 15px;
}

.back-link {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    padding-left: 25px;
  }

  .navbar-brand h1 {
    font-size: 1.6em;
  }

  .menu-section {
    min-height: auto;
  }
}
